.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---------------For the primary button---------------- */
.btn-primary {
  width: 150px;
  height: 50px;
  color: #ffffff;
  background-color: #5a4fcf;
  /* margin: auto; */
  border: none;
  border-radius: 8px;
  font-size: 20px;
}
.btn-primary:hover {
  background-color: #4a3fb1;
  cursor: pointer;
  transition: all 0.5s;
}
.btn-primary:active {
  background-color: #4a5fb9;
}

.btn-transparent {
  width: 150px;
  height: 50px;
  color: #4a3fb1;
  background-color: transparent;
  margin: auto;
  border: 2px solid #4a3fb1;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 400;
}
.btn-transparent:hover {
  background-color: #4a3fb1;
  color: #ffffff;
  cursor: pointer;
  border: none;
  transition: all 0.5s;
}
